.item-add-form {
    margin-top: 5px;
    width: 600px;
}
.item-one {
    width: 599px;
}
.item-add-button {
    margin-top: 3px;
}

.item-add-f {
    margin-top: 5px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.item-add-hui {
    margin-bottom: 2px;
    margin-left: 2px;
    width: 199px;
    margin-top: 5px;

}
